# Ignore Visual Studio generated folders
/AdminkitAssignment/.vs
/AdminkitAssignment/obj
/AdminkitAssignment/bin

# Ignore angular generated folders
node_modules
.angular
/AdminkitAssignment/angular/dist