<div class="page-grid">

  <div class="page-header">
    <h4>Adminkit Assignment</h4>
    <span>Total customers: {{customers.total}}</span>
    <button class="add-customer-button" (click)="onAddCustomerClick()">Add</button>
  </div>

  <div class="table-container">
    <table mat-table [dataSource]="customers">
      <ng-container matColumnDef="full-name">
        <th mat-header-cell *matHeaderCellDef>Full Name</th>
        <td mat-cell *matCellDef="let row">{{row.fullName}}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let row">{{row.email}}</td>
      </ng-container>

      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef>Address</th>
        <td mat-cell *matCellDef="let row">{{row.address}}</td>
      </ng-container>

      <ng-container matColumnDef="home-phone">
        <th mat-header-cell *matHeaderCellDef>Home</th>
        <td mat-cell *matCellDef="let row">{{row.homePhone}}</td>
      </ng-container>

      <ng-container matColumnDef="work-phone">
        <th mat-header-cell *matHeaderCellDef>Work</th>
        <td mat-cell *matCellDef="let row">{{row.workPhone}}</td>
      </ng-container>

      <ng-container matColumnDef="mobile-phone">
        <th mat-header-cell *matHeaderCellDef>Mobile</th>
        <td mat-cell *matCellDef="let row">{{row.mobilePhone}}</td>
      </ng-container>

      <ng-container matColumnDef="customer-actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <span class="customer-action-container">
            <span></span>
            <button class="customer-action" (click)="onEditCustomerClick(row)">Edit</button>
            <button class="customer-action" (click)="onRemoveCustomerClick(row)">Remove</button>
          </span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

</div>
