<div class="page-grid">

  <div class="page-header">
    <h4>Adminkit Assignment</h4>
    <span>Total customers: {{customerCount}}</span>
    <button class="add-customer-button" (click)="onAddCustomerClick()">Add</button>
  </div>

  <div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="fullName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Full Name</th>
        <td mat-cell *matCellDef="let row">{{row.fullName}}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
        <td mat-cell *matCellDef="let row">{{row.email}}</td>
      </ng-container>

      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
        <td mat-cell *matCellDef="let row">{{row.address}}</td>
      </ng-container>

      <ng-container matColumnDef="homePhone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Home</th>
        <td mat-cell *matCellDef="let row">{{row.homePhone}}</td>
      </ng-container>

      <ng-container matColumnDef="workPhone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Work</th>
        <td mat-cell *matCellDef="let row">{{row.workPhone}}</td>
      </ng-container>

      <ng-container matColumnDef="mobilePhone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Mobile</th>
        <td mat-cell *matCellDef="let row">{{row.mobilePhone}}</td>
      </ng-container>

      <ng-container matColumnDef="customer-actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <span class="customer-action-container">
            <span></span>
            <button class="customer-action" (click)="onEditCustomerClick(row)">Edit</button>
            <button class="customer-action" (click)="onDeleteCustomerClick(row)">Delete</button>
          </span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

</div>
